/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    font-family: sans-serif;
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}
:root {
    --card-border-color: #ebbb4c;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 60px 60px 1fr;
}


.sidebar {
    display: grid;
    grid-row: 1/4;
    background-color: lightskyblue;
    grid-template-columns: 60px 1fr;
    grid-auto-rows: 40px;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: bold;
    padding: 8px;
}

.icon {
    width: 50px;
    height: 50px;
    justify-self: end;
    padding: 4px;
}


.iconSmall {
    width: 30px;
    height: 30px;
    justify-self: end;

}



.searchIcon,
.notificationIcon,
.profileIcon {
    padding: 0px;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.searchBar {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
}

.searchBar * {
    margin: 8px;

}

.left,
.right {
    display: flex;
    align-items: center;
}

input {
    flex: 1;
    border-radius: 16px;
    border: 1px solid lightblue;
    background-color: aliceblue;
}

.left {
    flex: 1;
    max-width: 500px;
}


.topbar {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid lightcyan;

}

.topbarLeft {
    display: flex;
    align-items: center;
}

.topbarButton {
    display: flex;
    align-items: center;
    gap: 18px;
    margin: 8px 24px;
}

.topbarButton button {
    height: 30px;
    background-color: lightskyblue;
    border: 0px;
    border-radius: 16px;
    padding: 4px 12px;
}

.topbar img {
    margin: 8px;
    margin-left: 24px;
}

.greeting {
    min-width: 240px
}

.card {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}


.cardHolder>div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    border-left: 5px solid var(--card-border-color);
}

.cardHolder>div>p {
    flex: 1 1 auto;
    padding: 4px;
    font-size: 12px;
}

.cardHolder>div>p:first-child {
    flex: 0 0 20px;
}

.cardHolder img {
    width: 30px;
    height: 30px;
}

.share {
    display: flex;
}

.projecttitle {
    grid-row: 1;
    grid-column: 1;
    font-weight: bold;
    padding-left: 12px;
}

.cardHolder {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 24px;
    margin: 8px;
}

.suggestion {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.share {
    align-self: flex-end;
    padding: 4px;
}

hr.solid {
    border-top: 1px solid #bbb;
    opacity: 30%;
  }

h2 {
    font-size: 12px;
}

.suggestion > * {
    flex: 1;
}
.announcement {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin: 8px;
    padding: 8px;
}

.announcement > * {
    flex: 1;
}

#announcement {
    font-weight: bold;
    padding-left: 8px;
}



.suggestion div:first-child {
    height: 40px;
    font-size: 16px;
    flex: 0 0 auto;
}

.trending>div>div {
    display: flex;
    flex-direction: column;
}

.trending {
    display: flex;
    flex-direction: column;
}

.trending>p {
    height: 40px;
    font-size: 16px;
    flex: 0 0 auto;
}

.trending>div {
    flex: 1;
    margin: 8px 4px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.trending>div>* {
    flex: 1;
    margin: 4px 4px;
}

.trending img {
    max-width: 36px;
    max-height: 36px;
}

.right span {
    font-weight: bold;
}

.greeting {
    font-weight: bold;
}

.topbarButton button {
    color: white;
}
.projectTitleDiv {
    display: flex;
    align-items: flex-end;
}

.announcementsDiv {
    display: flex;
    align-items: flex-end;
    flex: 0;
}

#trendingDiv {
    flex: 0 0 40px;
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    margin: 0px;
}

#trendingDiv>p {
    margin: 0px;
}

div.trendingItem1,
div.trendingItem2,
div.trendingItem3,
div.trendingItem4 {
    background-color: white;
    border-radius: 15px;
}

@media only screen and (max-width: 800px) {
.cardHolder {
    grid-template-columns: minmax(200px, 1fr);
}
.card {
    grid-template-columns: 2fr 1fr;
}
.solid {
    flex: 0;
}
.topbar {
    display: grid;
    grid-template-rows: 60px 60px;
    grid-template-columns: 1fr;
}
.container {
    grid-template-rows: 60px 120px 1fr; 
}
.topbarButton{
    justify-content: flex-end;
}
}